
extends ../layout/layout.pug

block title
  title Plantilla Base

block content
  .row
    h1 My Article

block javascript
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js')
