meta(charset="UTF-8")
meta(http-equiv='x-ua-compatible', content='ie=edge')
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
<!--[if IE ]>
    script(src='js/vendor/es5-shim/es5-shim.min.js')
    script(src='js/vendor/classList/classList.min.js')
    script(src='js/vendor/selectivizr/selectivizr-min.js')
    script(src="js/vendor/flexibility/flexibility.js")
<![endif]-->