// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
// Color - Background Default
// ----------------------------------------------------------------------
$color: rgb(66, 66, 66);
$background: rgb(3, 169, 244);

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;


// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

