h3 Seleccion layout
p Crear una nueva configuración
.row
    .large-6.columns
        .pageclass
            img(src="http://placehold.it/350x150", alt="default" class="float-center") 
            br
            .text-center
                input(type="radio" name="layout" id="plantilla1" checked)
                label(for="plantilla1") plantilla default
    .large-6.columns
        .page
            img(src="http://placehold.it/350x150", alt="default" class="float-center")
            br
            .text-center
                input(type="radio" name="layout" id="plantilla2")
                label(for="plantilla2") plantilla personalizada
br
p Modificar una configuración predefinida
.row
    .small-3.columns
        img(src="http://placehold.it/150x150", alt="default" class="float-center")
        br
        .text-center
            input(type="radio" name="predefinida" id="pre1" )
            label(for="pre1") plantilla 1
    .small-3.columns
        img(src="http://placehold.it/150x150", alt="default" class="float-center")
        br
        .text-center
            input(type="radio" name="predefinida" id="pre2" )
            label(for="pre2") plantilla 2
    .small-3.columns
        img(src="http://placehold.it/150x150", alt="default" class="float-center")
        br
        .text-center
            input(type="radio" name="predefinida" id="pre3" )
            label(for="pre3") plantilla 3
    .small-3.columns
        img(src="http://placehold.it/150x150", alt="default" class="float-center")
        br
        .text-center
            input(type="radio" name="predefinida" id="pre4" )
            label(for="pre4") plantilla 4
br
.text-right
    a(href="#" class="button") Siguiente