h3 Personalización del Layout
.row
    .medium-6.columns
        label Nombre
            input(type="text")
.row
    .small-6.columns
        img(src="http://placehold.it/550x550", alt="default" class="float-center") 
    .small-6.columns
         img(src="http://placehold.it/600x600", alt="default" class="float-center") 
br
.text-right
    a(href="#" class="button") Siguiente